  @font-face {
    font-family: Terminus;
    src: url(./fonts/TerminusTTF.woff2)
}
.ms200 {
  animation-delay: 200ms;
}
.ms400 {
  animation-delay: 400ms;
}
.ms600 {
  animation-delay: 600ms;
}
.ms800 {
  animation-delay: 800ms;
}
.ms1s {
  animation-delay: 1000ms;
}
.ms2s5 {
  animation-delay: 2500ms;
}
.ms3s {
  animation-delay: 3000ms;
}

  *
  {
    font-family: Terminus;
  }
  html {
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
  width: 6px;
  }
  ::-webkit-scrollbar-track {
  background: #afb3b1;
  }
  ::-webkit-scrollbar-thumb {
  background: #062637;
  }
  ::-webkit-scrollbar-thumb:hover {
  background: rgb(42, 42, 111);
  }
  @layer utilities {
    .scrollbar-thin {
      scrollbar-width: thin;
      scrollbar-color: #2ad46c #1c9d5698; /* thumb color | track color */
    }

    .scrollbar-thumb {
      &::-webkit-scrollbar-thumb {
        background-color: #07441e; /* Thumb color */
        border-radius: 10px;
      }
    }
    .scrollbar-thumb {
      &::-webkit-scrollbar-thumb {
        background-color: #07441e; /* Thumb color */
        border-radius: 10px;
      }
    }

    .scrollbar-track {
      &::-webkit-scrollbar-track {
        background-color: #333333; /* Track color */
      }
    }

    .scrollbar {
      &::-webkit-scrollbar {
        width: 8px; /* Width of the scrollbar */
      }
    }
  } 

.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color:  #6145dd; /* Base color */
    border-color:  #6145dd; /* Border color */
    color: white; /* Text color */
}

.btn-brand:hover {
    background-color: #1f1452e0; /* Hover background color */
    border-color: #1f1452e0; /* Hover border color */
    color: white; /* Hover text color */
}
/* popup button nav */
.nav-btn {
display: inline-block;
padding: 15px 20px;
text-align: center;
color: white !important;
background-color: #6145dd;
border-radius: 5px;
text-decoration: none;
font-size: 1.5rem;
font-weight: bold;
transition:  all 0.5s ease;
width: 100%;
text-decoration: none !important;
}

.nav-btn:hover {
background-color:#1f1452e0;
color: white;
}
.swal2-confirm{
background-color: #6145dd;
text-decoration: none !important;
transition: var(--transition);
}
.swal2-confirm:hover{
background-color: #1f1452e0;
text-decoration: none !important;
transition: all 0.5s ease;
}
.swal2-popup.fullscreen-popup {
max-width: none;
height: 100%;
}

.full-width {
width: 100%;
}


