
@font-face {
    font-family: "jk::player-icons";
    src: url("../fonts/icons.woff");
    font-weight: normal;
    font-style: normal;
  }
  
  .player-icons {
    font-family: "jk::player-icons";
    font-style: normal;
    font-weight: normal;
    color: rgb(225, 0, 255);
    user-select: none;
  }
  
  .music-player {
    bottom: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 32px;
    background-color: #79515100;
    border-top: 1px solid #1100fa;
    position: fixed;
    display: flex;
    align-items: center;
    user-select: none;
    overflow: hidden;
  }
  
  .music-player a {
    font-size: 1.1em;
    text-align: center;
    padding: 10px;
  }
  
  .music-info {
    display: flex;
    align-items: center;
    color: #1100fa;
    font-weight: 200;
    text-shadow: 1px 1px #000000;
  
  }
  
  
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background-color: #e100ff;
  }
  
  input[type=range]:focus {
    outline: none;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #e100ff;
    border-radius: 1px;
    border: 0px solid #000000;
  }
  
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #e100ff;
    height: 10px;
    width: 10px;
    border-radius: 0px;
    background: #fff;
    -webkit-appearance: none;
    margin-top: -4px;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #e100ff;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #e100ff;
    border-radius: 1px;
    border: 0px solid #000000;
  }
  
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #3700ff;
    height: 10px;
    width: 10px;
    border-radius: 0px;
    background: #2600ff;
  }
  
  /* phone */
  @media only screen and (max-width: 768px),
  (orientation: portrait) {
    input[type=range] {
        display: none;
    }
  
    #split {
        display: none;
    }
  
    #music-queue {
        display: none;
    }
  
    #music-duration {
        display: none;
    }
  
    .music-control a {
        font-size: 1.5em;
        padding: 5px;
    }
  
    .music-info a {
        font-size: 3vw;
    }
  }